.client{
    background-color: $col2;
}

.item-head{
    font-size: 20px;
}



.client-carousel{
    .slick-prev:before, .slick-next:before {
        color:$col2;
        opacity:1;
        font-size: 27px;
        position: relative;
        left: -4px;
        top: -2px;
    }
    .slick-prev {
        @include arrow(left);
    }
    .slick-next {
        @include arrow(right);
    }
}
