$font1:'Times New Roman', Times, serif;
$font2: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$hover-color:#dc3545;
$col1:rgb(23, 23, 23);
$col2:rgb(46, 43, 43);
$shadow:#605f5f;
$arrow-color:#6c757d;
